
body {
    background-color: rgb(47, 255, 57);
}

.sonic {
    height: auto;
    width: 400px;
}

.heavy {
    height: 400px;
    width: auto;
}

.paul {
    height: 400px;
    width: 400px;
}

.freddy {
    height: auto;
    width: auto;
}

